{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 7 of 15</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h2 class="govuk-heading-xl">
          Tell us about your employment status
        </h2>

        <p class="govuk-body">This helps to identify information you need to give us to support your application.</p>

        <form class="form" action="/generic/identify-evidence" method="get">


          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h1 class="govuk-heading-m">Are you employed?</h1>
                <span class="govuk-c-label__hint govuk-!-width-two-thirds">
                If you are employed, you will need to give information about your wages.
                </span>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="employed-1" name="employed" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="employed-1">
                  Yes
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="employed-2" name="employed" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="employed-2">
                  No
                </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h1 class="govuk-heading-m">Do you get any benefits?</h1>
                <span class="govuk-c-label__hint govuk-!-width-two-thirds">
                If you are on benefits, you will need to give information about how much you receive.
                </span>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="benefits-1" name="benefits" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="benefits-1">
                  Yes
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="benefits-2" name="benefits" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="benefits-2">
                  No
                </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h1 class="govuk-heading-m">Have you been paid redundancy in the last month?</h1>
                <span class="govuk-c-label__hint govuk-!-width-two-thirds">
                If you have been made redundant, you will need to give details of your redundancy payment.
                </span>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="redundancy-1" name="redundancy" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="redundancy-1">
                  Yes
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="redundancy-2" name="redundancy" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="redundancy-2">
                  No
                </label>
              </div>
            </fieldset>
          </div>
          <input class="govuk-c-button" type="submit" value="Continue">&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="govuk-c-back-link" href="/generic/dwpconf">Back</a>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}