{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<link href="/public/stylesheets/application-task.css" media="screen" rel="stylesheet" type="text/css" />

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
      <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step n of n</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h2 class="govuk-heading-xl">
              We also need to understand your household and childcare outgoings
        </h2>

        <details>
          <summary><span class="summary">Help with types of outgoings</span></summary>

          <div class="panel panel-border-narrow">

            <p style="govuk-body">
              holding text
            </p>

          </div>
        </details>

        <ol class="task-list">
          <li>
            <h2 class="task-list-section">
                    <span class="task-list-section-number">1. </span>Housing costs
            </h2>
            <ul class="task-list-items">
              <li class="task-list-item">
                <a class="task-name" href="/generic/select-housing">
                        Add item
                </a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="task-list-section">
                    <span class="task-list-section-number">2. </span>Childcare costs
            </h2>
            <ul class="task-list-items">
              <li class="task-list-item">
                <a class="task-name" href="#">
                        Add item
                </a>
              </li>
            </ul>
          </li>
        </ol>

        <a class="govuk-c-button govuk-c-button" href="" role="button">Continue</a>&nbsp;&nbsp;&nbsp;&nbsp;

      </div>

    </div>

  </main>
</div>

{% endblock %}