{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
      <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 1 of 24</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h2 class="govuk-heading-xl">
          Apply for financial help
        </h2>

        <p class="govuk-body">You might not have to pay anything if you are on certain benefits, a low income or have little or no savings.</p>

        <h3>Find out if you can get help</h3>
        <p></p>

        <p class="govuk-body">You can provide details about your financial situation by:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>sharing information from your online banking</li>
          <li>giving your National Insurance number and date of birth so we can check your tax status and whether you receive benefits</li>
        </ul>

        <a class="govuk-c-button govuk-c-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="/generic/obconsent" role="button">Continue</a>

      </div>

    </div>

  </main>
</div>

{% endblock %}