{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="application-type">Back</a>
      <p class="govuk-body"></p>
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <h2 class="govuk-heading-xl">
            What type of case is it?
          </h2>

          <form action="court-crime-commenced" method="post">

            <select class="govuk-c-select" id="select-type" name="case-type">
                <option value="Summary only">Summary only</option>
                <option value="Either way">Either way</option>
                <option value="Indictable">Indictable</option>
                <option value="Trial already in Crown Court">Trial already in Crown Court</option>
                <option value="Committal for sentence">Committal for sentence</option>
                <option value="Appeal to Crown Court">Appeal to Crown Court</option>
                <option value="Appeal to Crown Court and no changes">Appeal to Crown Court and no changes</option>
              </select>

            <br><br>

            <input class="govuk-c-button" type="submit" value="Continue">

          </form>

        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}