{% extends "layout.html" %} {% block page_title %} Legal Aid Application prototype {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="basic-details-playback">Back</a>

      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
          <p></p>
          <h2>You have successfully created a new legal aid application</h2>
          <p></p>
          <form class="form" action="start" method="post">

            <div class="govuk-c-panel govuk-c-panel--confirmation govuk-!-mb-r6">
              <p class="govuk-c-panel__body">Case reference number:</p>
              <h2 class="govuk-c-panel__title">2018/LAA/4ewrqfdd</h2>
            </div>

            <h2 class="govuk-heading-m">
            We have sent your client a secure link to complete their financial assessment online.
              </h2>


            <input class="govuk-c-button" type="submit" value="Finish">

          </form>
        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}