{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="document-upload">Back</a>

      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <h2 class="govuk-heading-xl">
            Review the citizen’s bank statement for outgoings
          </h2>

          </br>
          <h2 class="govuk-heading-m">
            Selected outgoings
          </h2>

          <div>
            <table class="govuk-c-table--two-thirds" style="border-spacing:0">
              <thead class="govuk-c-table__head">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="col" style="border-width:thick;">File</th>
                  <th class="govuk-c-table__header" scope="col" style="border-width:thick;">Type</th>
                  <th class="govuk-c-table__header" scope="col" style="border-width:thick;">Description</th>
                  <th class="govuk-c-table__header" scope="col" style="border-width:thick;">Date</th>
                  <th class="govuk-c-table__header" scope="col" style="border-width:thick;"></th>
                </tr>
              </thead>
              <tbody class="govuk-c-table__body">
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell">Stock-Certificate.pdf</td>
                  <td class="govuk-c-table__cell">pdf</td>
                  <td class="govuk-c-table__cell govuk-c-table__header--numeric">Stock certificate</td>
                  <td class="govuk-c-table__cell">15/05/2018</td>
                  <td class="govuk-c-table__cell"><a href="">Remove</a></td>
                </tr>
              </tbody>
            </table>
            <br>
              <br>

            <a class="govuk-c-button govuk-c-button" href="other-evidence-stocks" role="button">Continue</a>

          </div>

    </main>
    </div>
</body>
{% endblock %}
