{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="interests-of-justice-3">Back</a>
      <p class="govuk-body"></p>

      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <h2 class="govuk-heading-xl">Does your client work in a sector regulated by a professional body?</h2>
      
          <p class="govuk-body">For example, a conviction could prevent your client working in an organisation regulated by the Financial Conduct Authority (FCA).
</p>

          <form class="form" action="application-task-list-with-means-merit" method="post">

            <div class="govuk-c-radios">
              <fieldset class="govuk-c-fieldset">
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" id="ioj-1" name="ioj" type="radio" value="Yes" required>
                  <label class="govuk-c-label govuk-c-radios__label" for="ioj-1">
                Yes
              </label>
                </div>
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" id="ioj-2" name="ioj" type="radio" value="No">
                  <label class="govuk-c-label govuk-c-radios__label" for="ioj-2">
                No
              </label>
                </div>
              </fieldset>
            </div>

            <input class="govuk-c-button" type="submit" value="Continue">
          </form>

        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}