{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="application-task-list-with-means-merit">Back</a>

      <p class="govuk-body"></p>
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <h2 class="govuk-heading-xl">
            Your details
          </h2>

          <form class="form" action="application-task-list-with-means-merit-legal-rep" method="post">

            <h2 class="govuk-heading-l">Solicitor details</h2>

            <dl class="govuk-check-your-answers cya-questions" style="width:600px">

              <div>
                <dt class="cya-question" style="width:275px">Title</dt>
                <dd class="cya-answer">Miss</dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">name</span>
                  </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">Name</dt>
                <dd class="cya-answer">Jane Smith</dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">name</span>
                  </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">Email address</dt>
                <dd class="cya-answer">jane.smith@solicitor.com</dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">postcode</span>
                  </a>
                </dd>
              </div>
            </dl>
            </br>

            <h2 class="govuk-heading-l">Firm details</h2>

            <dl class="govuk-check-your-answers cya-questions" style="width:600px">
              <div>
                <dt class="cya-question" style="width:275px">Firm name</dt>
                <dd class="cya-answer">Shylock & Co</dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                      Change<span class="visually-hidden">type</span>
                    </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question" style="width:275px">LAA account number</dt>
                <dd class="cya-answer">0X444X</dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                      Change<span class="visually-hidden">type</span>
                    </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">Address line 1</dt>
                <dd class="cya-answer">12 High Street</dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">address line 1</span>
                  </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">Address line 2</dt>
                <dd class="cya-answer">Springfield</dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">address line 2</span>
                  </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">Address line 3</dt>
                <dd class="cya-answer"></dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">city</span>
                  </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">Postcode</dt>
                <dd class="cya-answer">AB43 2CD</dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">postcode</span>
                  </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">Telephone</dt>
                <dd class="cya-answer">01234987567</dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">postcode</span>
                  </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">Mobile</dt>
                <dd class="cya-answer"></dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">postcode</span>
                  </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">DX (Document Exchange)</dt>
                <dd class="cya-answer">111333 SPRINGFIELD 1</dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">postcode</span>
                  </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">Fax</dt>
                <dd class="cya-answer"></dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">postcode</span>
                  </a>
                </dd>
              </div>
              <div>
                <dt class="cya-question">Firm administrator's email address</dt>
                <dd class="cya-answer"></dd>
                <dd class="cya-change">
                  <a class="govuk-link" href="#">
                    Change<span class="visually-hidden">postcode</span>
                  </a>
                </dd>
              </div>
            </dl>
            </br>
            <div class="govuk-c-checkboxes__item">
              <input class="govuk-c-checkboxes__input" id="sol-details" name="sol-details" value="sol-details" type="checkbox" required="yes">
              <label class="govuk-c-label govuk-c-checkboxes__label" for="sol-details">
                <b>I represent the applicant.</b> I confirm that I am authorised to provide representation under a contract issued by the Legal Aid Agency (LAA). I understand that as Legal Representative I must obtain and retain on file a Declaration from the Applicant (and partner if applicable). I understand that this means completing a hardcopy mandate form.
              </label>
            </div>

            </br>
            </br>
            <input class="govuk-c-button" type="submit" value="Continue">

          </form>

        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}