{% extends "layout.html" %} {% block page_title %} Legal Aid Application prototype {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="application-task-list-with-means">Back</a>

      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <p></p>

          <h2 class="govuk-heading-xl">Merits interview</h2>

          <p class="govuk-body">This interview is designed to collect all relevant information about the circumstances and facts of the client's case in order to
            enable the Director to decide if the applicable crieteria for the grant of legal aid, under the appropriate Regulations and Statute, are satisfied
          </p>

          <p class="govuk-body">If your application or any part of it is for Exceptional Funding under section 10 of the Legal Aid, Sentencing and Punishment of
            Offenders Act 2012 you will be asked additional questions to enable the Director to make a seperate decision against the relevent criteria
          </p>

            <a class="govuk-c-button govuk-c-button" href="urgent-application" role="button">Continue</a>
        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}
