{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="application-task-list-with-means">Back</a>

      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <p></p>

          <h2 class="govuk-heading-xl">Merits interview</h2>

          <p class="govuk-body">Use this interview to collect information about the circumstances and facts of the client's case. This will help the Director of Legal Aid to decide if the case satisfies the criteria for the grant of legal aid, under the appropriate Regulations
            and Statute.
          </p>

          <p class="govuk-body">If your application or any part of it is for Exceptional Funding under section 10 of the Legal Aid, Sentencing and Punishment of Offenders Act 2012 you will be asked additional questions to enable the Director to make a separate decision against
            the relevent criteria.
          </p>

          <a class="govuk-c-button govuk-c-button" href="urgent-application" role="button">Continue</a>
        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}