{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<script src="/public/javascripts/jquery-1.11.3.js"></script>

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <a class="govuk-c-back-link" href="merits-declaration-to-be-signed">Back</a>
      <p class="govuk-body"></p>
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h2 class="govuk-heading-xl">Declarations</h2>

        <p class="govuk-body">Has the application been completed on behalf of someone else by a person acting in a professional capacity for example as a litigation friend, guardian <i>ad litem</i>, parent, friend or relative?</p>

        <form class="form" action="merits-final-declaration" method="post">

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="declaration1" name="declaration" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="declaration1">Yes</label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="declaration2" name="declaration" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="declaration2">No</label>
              </div>
            </fieldset>
          </div>

          <input class="govuk-c-button" type="submit" value="Continue">

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}