{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="photo-evidence-stocks-mobile-confirm">Back</a>

      <div class="govuk-o-grid">

        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <div class="govuk-c-panel govuk-c-panel--confirmation govuk-!-mb-r6">
            <p class="govuk-c-panel__body">Now follow the instructions on your device, and return here when complete...</p>

          </div>

          <a class="govuk-c-button" role="button" href="photo-evidence-stocks-qr">Continue</a>

        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}