{% extends "layout.html" %} {% block page_title %} Legal Aid Application prototype {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="basic-details">Back</a>

      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <p></p>
          <h2 class="govuk-heading-xl">
            What is your client's address?
          </h2>

          <form class="form" action="/solicitor/select-address" method="post">

            <label class="govuk-c-label" for="name">
              Enter postcode
            </label>
            <input class="govuk-c-input govuk-!-width-one-third" id="postcode" name="postcode" type="text" required>

            <p class="govuk-body"><a href="#">Enter address manually</a></p>

            <input class="govuk-c-button" type="submit" value="Find address">

          </form>

          <!--input class="govuk-c-button" type="submit" value="Continue"-->



        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}