{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="application-task-list">Back</a>
      <p class="govuk-body"></p>
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item">

          <h2 class="govuk-heading-xl">
            Check your client's income
          </h2>

          <div class="govuk-c-error-summary govuk-o-grid__item--two-thirds" aria-labelledby="error-summary-title" role="alert">
            <ul class="govuk-body" style="color: #b10e1e; font-weight:800;">
              <li>Review your client's declarations and change as necessary.</li>
            </ul>
          </div>

          </br>
          <br>
          <h2 class="govuk-heading-m">
            Your client declared the following as income
          </h2>

          <div>
            <table class="govuk-c-table" style="border-spacing:0">
              <thead class="govuk-c-table__head">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="col" style="border-width:thick;width:100px">Date</th>
                  <th class="govuk-c-table__header" scope="col" style="border-width:thick;">Description</th>
                  <th class="govuk-c-table__header govuk-c-table__header--numeric" scope="col" style="border-width:thick;">Amount</th>
                  <th class="govuk-c-table__header" scope="col" style="border-width:thick;">Type</th>
                  <th class="govuk-c-table__header" scope="col" style="border-width:thick;"></th>
                </tr>
              </thead>
              <tbody class="govuk-c-table__body">
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell">02 APR 2018</td>
                  <td class="govuk-c-table__cell">CHILD MAINTENANCE BACS</td>
                  <td class="govuk-c-table__cell govuk-c-table__header--numeric">£250.00</td>
                  <td class="govuk-c-table__cell">Benefits, property and financial support</td>
                  <td class="govuk-c-table__cell"><a href="">Change</a></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell">02 APR 2018</td>
                  <td class="govuk-c-table__cell">TYREWORLD BACS</td>
                  <td class="govuk-c-table__cell govuk-c-table__header--numeric">£1800.00</td>
                  <td class="govuk-c-table__cell">Salary and pensions</td>
                  <td class="govuk-c-table__cell"><a href="">Change</a></td>
                </tr>
              </tbody>
            </table>
            <br>
            <br>

            <h2 class="govuk-heading-m">
              Other incoming transactions
            </h2>

            <div>
              <table class="govuk-c-table--two-thirds" style="border-spacing:0">
                <thead class="govuk-c-table__head">
                  <tr class="govuk-c-table__row">
                    <th class="govuk-c-table__header" scope="col" style="border-width:thick;">Date</th>
                    <th class="govuk-c-table__header" scope="col" style="border-width:thick;">Description</th>
                    <th class="govuk-c-table__header govuk-c-table__header--numeric" scope="col" style="border-width:thick;">Amount</th>
                    <th class="govuk-c-table__header" scope="col" style="border-width:thick;"></th>
                  </tr>
                </thead>
                <tbody class="govuk-c-table__body">
                  <tr class="govuk-c-table__row">
                    <td class="govuk-c-table__cell">18 APR 2018</td>
                    <td class="govuk-c-table__cell">CASH DEPOSIT</td>
                    <td class="govuk-c-table__cell govuk-c-table__header--numeric">£420.00</td>
                    <td class="govuk-c-table__cell"><a href="">Add as income</a></td>
                  </tr>
                  <tr class="govuk-c-table__row">
                    <td class="govuk-c-table__cell">19 APR 2018</td>
                    <td class="govuk-c-table__cell">MR JOHN SMITH TRANSFER</td>
                    <td class="govuk-c-table__cell govuk-c-table__header--numeric">£30.00</td>
                    <td class="govuk-c-table__cell"><a href="">Add as income</a></td>
                  </tr>
                  <tr class="govuk-c-table__row">
                    <td class="govuk-c-table__cell">05 APR 2018</td>
                    <td class="govuk-c-table__cell">PAYPAL WWW.EBAY.COM</td>
                    <td class="govuk-c-table__cell govuk-c-table__header--numeric">£27.00</td>
                    <td class="govuk-c-table__cell"><a href="">Add as income</a></td>
                  </tr>
                  <tr class="govuk-c-table__row">
                    <td class="govuk-c-table__cell">03 APR 2018</td>
                    <td class="govuk-c-table__cell">MS JANE DOE TRANSFER</td>
                    <td class="govuk-c-table__cell govuk-c-table__header--numeric">£15.86</td>
                    <td class="govuk-c-table__cell"><a href="">Add as income</a></td>
                  </tr>
                  <tr class="govuk-c-table__row">
                    <td class="govuk-c-table__cell">30 APR 2018</td>
                    <td class="govuk-c-table__cell">MR JOHN SMITH TRANSFER</td>
                    <td class="govuk-c-table__cell govuk-c-table__header--numeric">£10.00</td>
                    <td class="govuk-c-table__cell"><a href="">Add as income</a></td>
                  </tr>
                  <tr class="govuk-c-table__row">
                    <td class="govuk-c-table__cell">29 APR 2018</td>
                    <td class="govuk-c-table__cell">MR JOHN SMITH TRANSFER</td>
                    <td class="govuk-c-table__cell govuk-c-table__header--numeric">£7.50</td>
                    <td class="govuk-c-table__cell"><a href="">Add as income</a></td>
                  </tr>
                </tbody>
              </table>
              <br>

              <a class="govuk-c-button govuk-c-button" href="review-outgoings" role="button">Continue</a>

            </div>

    </main>
    </div>
</body>
{% endblock %}