{% extends "layout.html" %} {% block page_title %} Legal Aid Application prototype {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="postcode">Back</a>

      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <h2 class="govuk-heading-xl">
            Select your client's home address
          </h2>


          <form action="national-insurance" method="post">

            <select class="govuk-c-select" id="select-1" name="select-1">
                <option value="1">1 Main Road, London, {{ data['postcode'] }}</option>
                <option value="2">2 Main Road, London, {{ data['postcode'] }}</option>
                <option value="3">3 Main Road, London, {{ data['postcode'] }}</option>
                <option value="4">4 Main Road, London, {{ data['postcode'] }}</option>
                <option value="5">5 Main Road, London, {{ data['postcode'] }}</option>
                <option value="6">6 Main Road, London, {{ data['postcode'] }}</option>
                <option value="7">7 Main Road, London, {{ data['postcode'] }}</option>
                <option value="8">8 Main Road, London, {{ data['postcode'] }}</option>
                <option value="9">8 Main Road, London, {{ data['postcode'] }}</option>
                <option value="10">8 Main Road, London, {{ data['postcode'] }}</option>
                <option value="11">8 Main Road, London, {{ data['postcode'] }}</option>
                <option value="12">8 Main Road, London, {{ data['postcode'] }}</option>
              </select>
            <br><br>
            <p class="govuk-body"><a href="#">Enter address manually</a></p>

            <input class="govuk-c-button" type="submit" value="Continue">

          </form>

        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}