{% extends "layout.html" %} {% block page_title %} Legal Aid Application prototype {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">
      <p class="govuk-body"></p>
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <h2 class="govuk-heading-xl">What do you want to do?</h2>

          <form action="/solicitor/newOrResume" method="get">

            <div class="govuk-c-radios">
              </br>
              <fieldset class="govuk-c-fieldset">
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" id="new" name="newOrResume" type="radio" value="new" required>
                  <label class="govuk-c-label govuk-c-radios__label" for="new">Start a new application</label>
                </div>
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" id="resume" name="newOrResume" type="radio" value="resume">
                  <label class="govuk-c-label govuk-c-radios__label" for="resume">Continue an existing application</label>
                </div>
              </fieldset>
            </div>

            <input class="govuk-c-button" type="submit" value="Next">

          </form>

        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}