{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="employed">Back</a>

      <p class="govuk-body"></p>
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <h2 class="govuk-heading-xl">Has your client left their job in the last three months?</h2>

          <form action="basic-details" method="post">

            <div class="govuk-c-radios">
              </br>
              <fieldset class="govuk-c-fieldset">
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" id="yes" name="unemployed-three-months" type="radio" value="Yes" required>
                  <label class="govuk-c-label govuk-c-radios__label" for="yes">Yes</label>
                </div>
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" id="no" name="unemployed-three-months" type="radio" value="No">
                  <label class="govuk-c-label govuk-c-radios__label" for="no">No</label>
                </div>
              </fieldset>
            </div>

            <input class="govuk-c-button" type="submit" value="Next">

          </form>

        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}