{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <a class="govuk-c-back-link" href="identify-outgoings-housing-with-housing">Back</a>

    <p class="govuk-body"></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Check your income and outgoings
        </h1>

        <form class="form" action="property" method="post">

          <div>
            <table class="govuk-c-table">
              <caption class="govuk-c-table__caption">Your income</caption>
              <thead class="govuk-c-table__head">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="col" width="500" style="border-width:thick;">Type</th>
                  <th class="govuk-c-table__header govuk-c-table__header--numeric" scope="col" style="border-width:thick;">Amount</th>
                </tr>
              </thead>
              <tbody class="govuk-c-table__body">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">Salary or wages</th>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£535.72</td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" scope="row">- Care Home Ltd Salary - £174.77</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                    <a style="color:red">
                      <href='#'><u>Remove</u></a>
                  </td>
                </tr>
                <tr>
                  <td class="govuk-c-table__cell" scope="row">- Care Home Ltd Salary - £136.31</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                    <a style="color:red">
                      <href='#'><u>Remove</u></a>
                  </td>
                </tr>
                <tr>
                <td class="govuk-c-table__cell" scope="row">- Care Home Ltd Salary - £116.40</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                    <a style="color:red">
                      <href='#'><u>Remove</u></a>
                  </td>
                </tr>
                <tr>
                <td class="govuk-c-table__cell" scope="row">- Care Home Ltd Salary - £108.24</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                    <a style="color:red">
                      <href='#'><u>Remove</u></a>
                  </td>
                </tr>

                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">State benefits</th>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£745.00</td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" scope="row">- Work and child TC - £165.55</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                    <a style="color:red">
                      <href='#'><u>Remove</u></a>
                  </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" scope="row">- Work and child TC - £165.55</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                    <a style="color:red">
                      <href='#'><u>Remove</u></a>
                  </td>
                </tr>
                                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" scope="row">- Work and child TC - £165.55</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                    <a style="color:red">
                      <href='#'><u>Remove</u></a>
                  </td>
                </tr>
                                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" scope="row">- Work and child TC - £165.55</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                    <a style="color:red">
                      <href='#'><u>Remove</u></a>
                  </td>
                </tr>
                                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" scope="row">- CHB - £82.80</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                    <a style="color:red">
                      <href='#'><u>Remove</u></a>
                  </td>
                </tr>

              </tbody>
            </table>
            <a href='#'>Add more income</a>
          </div>
          </br>
          </br>
          <div>
            <table class="govuk-c-table">
              <caption class="govuk-c-table__caption">Your outgoings</caption>
              <thead class="govuk-c-table__head">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="col" scope="col" width="500" style="border-width:thick;">Type</th>
                  <th class="govuk-c-table__header govuk-c-table__header--numeric" scope="col" style="border-width:thick;">Amount</th>
                </tr>
              </thead>
              <tbody class="govuk-c-table__body">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">Mortgage, rent or board</th>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£1048.50</td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" scope="row">- Jess Jones 01234567 - £1048.50</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                    <a style="color:red">
                      <href='#'><u>Remove</u>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <a href='#'>Add more outgoings</a>
          </div>
          <br>
          <br>

          <input class="govuk-c-button" type="submit" value="Continue">

        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}