{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}

<body>
  <div class="govuk-o-width-container">

    <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>

    <main role="main" class="govuk-o-main-wrapper">

      <a class="govuk-c-back-link" href="start">Back</a>
      <p class="govuk-body"></p>
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <h2 class="govuk-heading-xl">Which route do you want to take?</h2>

          <form class="form" action="pre-start-check" method="get">

          <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" id="route2" name="route" type="radio" value="route2">
                  <label class="hidden" for="route2">
                <strong>1. Alpha+</strong> <br>(single category > single transaction)<br>
                citizen-truelayer/identify-income
              </label>
                </div>

            <div class="govuk-c-radios">
              <fieldset class="govuk-c-fieldset">
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" id="route1" name="route" type="radio" value="route1" required>
                  <label class="hidden" for="route1">
                <strong>2. Statement+</strong> <br>(multiple transactions > single category)<br>
                https://ofe3qu.axshare.com/income_statement_v_.html
              </label>
            </div>

            <div class="govuk-c-radios">
              <fieldset class="govuk-c-fieldset">
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" id="route1" name="route" type="radio" value="route1" required>
                  <label class="hidden" for="route1">
                <strong>Round 2 testing - 31/10/18</strong> <br>(narrow categories > multiple selections)
              </label>
            </div>


            <div class="govuk-c-radios">
              <fieldset class="govuk-c-fieldset">
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" id="route1" name="route" type="radio" value="route1" required>
                  <label class="govuk-c-label govuk-c-radios__label" for="route1">
                <strong>Round 3 testing - 14/11/18</strong> <br>(auto selection)
              </label>
            </div>

              </fieldset>
            </div>

            <input class="govuk-c-button" type="submit" value="Continue">
          </form>

        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}