{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}
<style>
  input[type='radio'] {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    background: white;
  }

  input[type='radio']:hover {
    box-shadow: 0 0 5px 0px orange inset;
  }

  input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
  }

  input[type='radio']:checked:before {
    background: black;
  }
</style>

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
      <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <a class="govuk-c-back-link" href="identify-income-with-salary">Back</a>

    <p class="govuk-body"></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h2 class="govuk-heading-xl">
              Select salary or wages
        </h2>

        <p class="govuk-body">We have listed items from your bank statement by the highest incoming payment to help you.</p>

        <table class="govuk-c-table--two-thirds" style="border-spacing:0">

          <thead class="govuk-c-table__head">
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="col" width="300" style="border-width:thick;">Description</th>
              <th class="govuk-c-table__header" scope="col" width="150" style="border-width:thick;">Date</th>
              <th class="govuk-c-table__header govuk-c-table__header--numeric" scope="col" style="border-width:thick;">Amount</th>
              <th class="govuk-c-table__header" scope="col" style="border-width:thick;">&nbsp;</th>
            </tr>
          </thead>
          <tbody class="govuk-c-table__body">
           <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Cash in HSBC 17Oct</td>
              <td class="govuk-c-table__cell">17 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£250.00</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Care Home Ltd Salary</td>
              <td class="govuk-c-table__cell">23 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£174.77</td>
              <td class="govuk-c-table__cell">
                
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Work and child TC</td>
              <td class="govuk-c-table__cell">29 SEP 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£165.55</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Work and child TC</td>
              <td class="govuk-c-table__cell">06 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£165.55</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Work and child TC</td>
              <td class="govuk-c-table__cell">13 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£165.55</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Work and child TC</td>
              <td class="govuk-c-table__cell">20 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£165.55</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
                        <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Care Home Ltd Salary</td>
              <td class="govuk-c-table__cell">14 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£136.31</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Cash in HSBC 16Oct</td>
              <td class="govuk-c-table__cell">14 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£130.00</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Care Home Ltd Salary</td>
              <td class="govuk-c-table__cell">09 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£116.40</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Care Home Ltd Salary</td>
              <td class="govuk-c-table__cell">02 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£108.24</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">CHB</td>
              <td class="govuk-c-table__cell">23 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£82.80</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Cash in HSBC 09Oct</td>
              <td class="govuk-c-table__cell">09 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£60.00</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Sky digital reversal of 03-10</td>
              <td class="govuk-c-table__cell">03 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£56.79</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Sky digital reversal of 11-10</td>
              <td class="govuk-c-table__cell">03 OCT 2017</td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£56.79</td>
              <td class="govuk-c-table__cell">
                <div class="govuk-c-radios__item">
                  <label><input type="radio" id='regular' name="salary"></label>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
        <br>

        <a class="govuk-c-button govuk-c-button" href="identify-income-with-salary-2" role="button">Add</a>

      </div>

    </div>

  </main>
</div>

{% endblock %}