{% extends "layout.html" %} {% block page_title %} Apply for legal aid {% endblock %} {% block content %}
<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
      <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h2 class="govuk-heading-xl">
          Complete your legal aid financial assessment
        </h2>

        <p class="govuk-body">
          Name: <strong>John Doe</strong><br>
          Case reference: <strong>2018/LAA/4ewrqfdd</strong><br>
          Your solicitor: <strong>Hitchcock, Jones & King</strong></p>

        <p class="govuk-body">You will need to tell us about your:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>bank accounts</li>
          <li>income and outgoings</li>
          <li>savings, property and any other assets</li>
        </ul>

        <p class="govuk-body">We use this information to work out if you can get legal aid or need to pay towards the legal costs.</p></p>

        <h3>What you will need</h3>
        <p></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your online banking sign in details</li>
        </ul>

        <a class="govuk-c-button govuk-c-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="obbank" role="button">Start</a>

      </div>

    </div>

  </main>
</div>

{% endblock %}