{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
      <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 9 of 14</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Do you wish to continue with the evidence selection?
        </h1>

        <p class="govuk-body">You can continue the process and highlight the evidence we require on your own</p>

        <p class="govuk-body">If you do not wish to continue with the evidence selection we can send the details to your solicitor and you can continue when you are next with them</p>

        <form class="form" action="/crime-remote/citizen-evi" method="get">

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="citevidence-1" name="citevidence" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="citevidence-1">
                Yes
              </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="citevidence-2" name="citevidence" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="citevidence-2">
                No
              </label>
              </div>
            </fieldset>
          </div>

          <input class="govuk-c-button" type="submit" value="Continue">&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="govuk-c-back-link" href="/generic/check-evidence">Back</a>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
