{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 1 of 7</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Share your financial details
        </h1>

        <p class="govuk-body">You can use this service to share your details for your legal aid application.</p>
        <p class="govuk-body">You might not have to pay legal aid if you are on certain benefits, a low income or have little or no savings.</p>

         <p class="govuk-body"><b>What you will need</b></p>

        <ul class="govuk-list govuk-list--bullet">
          <li>your online banking details</li>
          <li>your National Insurance number and date of birth</li>
        </ul>

        <a href="/crime-remote/citizen-obconsent" class="govuk-c-button">Start</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
