{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 1 of 7</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Legal aid open banking service
        </h1>

        <p class="govuk-body">The next screen will allow you to log in to your bank account and potentially select your incomings and outgoings in support of your legal aid application </p>
        <p class="govuk-body">After selecting your evidence, it will be sent to your solicitor for review and you will continue with the application process</p>

        <div class="govuk-c-checkboxes__item">
          <input class="govuk-c-checkboxes__input" id="confirm" name="confirm" type="checkbox" required>
          <label class="govuk-c-label govuk-c-checkboxes__label" for="confirm">Please confirm that you have read and understood the above by ticking this box</label>
        </div>
        <br>
        <a href="/crime-remote/citizen-obconsent" class="govuk-c-button">Continue</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
