{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 2 of 15</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <form class="form" action="/crime-remote/dwpdetails" method="post">

          <div class="govuk-c-checkboxes">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h1 class="govuk-heading-xl">Do you want to do your financial checks online?</h1>
              </legend>

              <p class="govuk-body">We can quickly check things such as salary, childcare costs and benefit payments using your online banking and National Insurance details.</p>

              <p class="govuk-body">You decide what information you want to give us. We only use the details to support your application. We do not use it for anything else.</p>

              <div class="govuk-c-checkboxes__item">
                <input class="govuk-c-checkboxes__input" id="other-departments" name="other-departments" type="checkbox">
                <label class="govuk-c-label govuk-c-checkboxes__label" for="other-departments">
                  <b>I am happy for you to check my tax and benefit status</b><br>
                  using my National Insurance number and date of birth
                </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-checkboxes__item">
            <input class="govuk-c-checkboxes__input" id="open-banking" name="open-banking" type="checkbox">
            <label class="govuk-c-label govuk-c-checkboxes__label" for="other-departments">
                  <b>I am happy to share my account balance and statement</b><br>
                    using information from my online banking
                </label>
          </div>
          </br>

          <input class="govuk-c-button" type="submit" value="Continue">&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="govuk-c-back-link" href="/crime/start">Back</a>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
