{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 15 of 15</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Provider onboard screen
        </h1>

        <p class="govuk-body">The next screen will allow you to review and select the evidence returned by your client via the open banking process </p>
        <p class="govuk-body">You should complete this process with them and finish the rest of the legal aid application</p>

        <br>
        <a href="/crime-remote/provider-case-management" class="govuk-c-button">Continue</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
