{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 5 of 26</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Joe Bloggs has shared financial details
        </h1>

        <p class="govuk-body">We have successfully downloaded 3 months' transaction history from <b>Joe.Bloggs@hotmail.com</b>.</p>
        <p class="govuk-body">Use the information to give details about incoming and outgoing payments, and complete financial checks for legal aid.</p>

        <br>
        <a href="/crime-remote/citizen-identify-income" class="govuk-c-button">Continue</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
