{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 18 of 24</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Check your clients answers
        </h1>

        <p class="govuk-body">Please review the evidence provided in order to support your clients application.</p>

        <form class="form" action="/crime-remote/provider-final" method="post">

          <div>
            <table class="govuk-c-table">
              <caption class="govuk-c-table__caption">Your income</caption>
              <thead class="govuk-c-table__head">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="col" width="500">Type</th>
                  <th class="govuk-c-table__header govuk-c-table__header--numeric" scope="col">Amount</th>
                </tr>
              </thead>
              <tbody class="govuk-c-table__body">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">Salary or wage</th>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£1800.00</td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">Private pension</th>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£0.00</td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">Employer pension</th>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£0.00</td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">Board or rent received</th>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£0.00</td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">Child maintenance received</th>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£250.00</td>
                </tr>
              </tbody>
            </table>
          </div>

          </br>

          <input class="govuk-c-button" type="submit" value="Continue">&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="govuk-c-back-link" href="/generic/identify-outgoings-housing-childcare">Back</a>

        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
