{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 4 of 26</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          An invitation has been sent for your client to complete the open banking process
        </h1>

        <p class="govuk-body">
          <b>An e-mail has been sent to Joe.Blogs@hotmail.com that allows them to log in to the service</b>
        </p>

        <p class="govuk-body">
          You will be notified when they have completed the process and will have a chance to review the evidence before continuing with the application
        </p>

        <a class="govuk-link" href="/crime-remote/citizen-crime-primer">
          This link will take you to the citizen open banking process
        </a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
