{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">
    <div>
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <p class="govuk-body"><b>Step 2 of 14</b></p>

          <h1 class="govuk-heading-xl">
            Assessing your application
          </h1>

          <p class="govuk-body">To assess your application for legal aid we need to know:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>how much you earn</li>
            <li>how much you spend</li>
            <li>if you are getting any benefits - like housing benefit or universal credit</li>
          </ul>

          <p class="govuk-body">We will use any evidence you provide to support your application for legal aid</p>

          <details class="govuk-c-details">
            <summary class="govuk-c-details__summary">
              <span class="govuk-c-details__summary-text">
                See more about the information we collect
              </span>
            </summary>
            <div class="govuk-c-details__text">
              <p class="govuk-body">To help us work out how much you can afford, we'll collect information about:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>How much you earn (income)</li>
                <li>Any Childcare payments</li>
                <li>Private Pension</li>
                <li>Employer pension</li>
                <li>Board or rent payments</li>
                <li>Maintainance payments</li>
                <li>Housing costs</li>
              </ul>

              <p class="govuk-body">To help us work out how much you have saved, we'll collect information about:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Bank savings</li>
                <li>Bank or building society account balance</li>
                <li>ISA held at your bank</li>
              </ul>
            </div>
          </details>
        </div>

      </div>

      <a class="govuk-c-button govuk-c-button" href="/civil/obconsent" role="button">Continue</a> &nbsp;&nbsp;&nbsp;&nbsp;
      <a class=" govuk-c-back-link " href="/civil/start ">Back</a>

    </div>
</div>
</main>

{% endblock %}