{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
      <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 1 of 15</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          What is your current situation?
        </h1>

        <p class="govuk-body">This helps us to check your financial details for the last 3 months.</p>

        <form class="form" action="/civil/obconsent" method="post">

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Are you currently in prison?</h4>

              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="prisoner-1" name="prisoner" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="prisoner-1">
              Yes, I'm on remand or serving a current sentence
            </label>
              </div>
              
             <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="prisoner-2" name="prisoner" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="prisoner-2">
              Yes, I'm being held for immigration or asylum matters
            </label>
              </div>

              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="prisoner-3" name="prisoner" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="prisoner-3">
              No
            </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Have you recently separated or divorced?</h4>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="divorced-1" name="divorced" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="divorced-1">
              Yes
            </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="divorced-2" name="divorced" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="divorced-2">
              No
            </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Are you single, married or living with someone and sharing an income?</h4>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="partner-1" name="partner" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="partner-1">
              Single
            </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="partner-2" name="partner" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="partner-2">
              Married or living with someone and sharing an income
            </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Are you employed?</h4>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="employed-1" name="employed" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="employed-1">
              Yes
            </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="employed-2" name="employed" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="employed-2">
              No
            </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Have you been paid redundancy in the last month?</h4>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="redundancy-1" name="redundancy" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="redundancy-1">
                  Yes
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="redundancy-2" name="redundancy" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="redundancy-2">
                  No
                </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Are you currently receiving benefits?</h4>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="passported-1" name="passported" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="passported-1">
              Yes
            </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="passported-2" name="passported" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="passported-2">
              No
            </label>
              </div>
            </fieldset>
          </div>

          <input class="govuk-c-button" type="submit" value="Continue">
        </form>

      </div>

    </div>

  </main>
</div>

{% endblock %}