{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
      <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 1 of 14</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          What is your current financial situation?
        </h1>

        <p class="govuk-body">This information helps us check your financial details for the last 3 months.</p>

        <form class="form" action="/crime/obconsent" method="post">

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Has a court remanded you in custody?</h4>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="prisoner-1" name="prisoner" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="prisoner-1">
              Yes
            </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="prisoner-2" name="prisoner" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="prisoner-2">
              No
            </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Are you employed (excluding being self employed)?</h4>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="employed-1" name="employed" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="employed-1">
              Yes
            </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="employed-2" name="employed" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="employed-2">
              No
            </label>
              </div>
            </fieldset>
          </div>


          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Have you left your job within the last 3 months?</h4>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="ceased-employment-1" name="ceased-employment" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="ceased-employment-1">
              Yes
            </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="ceased-employment-2" name="ceased-employment" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="ceased-employment-2">
              No
            </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Are you currently receiving benefits?</h4>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="benefits-1" name="benefits" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="benefits-1">
              Yes
            </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="benefits-2" name="benefits" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="benefits-2">
              No
            </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h4 class="govuk-heading">Do you earn over £12,475 a year?</h4>
                <span class="govuk-c-label__hint">
              This is an average weekly salary of £239.90.
            </span>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="earnings-1" name="earnings" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="earnings-1">
              Yes
            </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="earnings-2" name="earnings" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="earnings-2">
              No
            </label>
              </div>
            </fieldset>
          </div>

          <input class="govuk-c-button" type="submit" value="Continue">
        </form>

      </div>

    </div>

  </main>
</div>

{% endblock %}