{% extends "layout.html" %} {% block page_title %} QEvidence submission prototype  {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <a class="govuk-c-back-link" href="./eviconf">Back</a>

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h2 class="govuk-heading-xl">
          What are the details of your employment status?
        </h2>
        <form class="form" action="/identify-evidence" method="get">


          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h1 class="govuk-heading-m">Are you presently employed?</h1>
                <span class="govuk-c-fieldset__hint">This includes part time or self employment</span>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="employed-1" name="employed" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="employed-1">
                  Yes
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="employed-2" name="employed" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="employed-2">
                  No
                </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h1 class="govuk-heading-m">Do you recieve any benefits from the state?</h1>
                <span class="govuk-c-fieldset__hint">This includes Universal credit, housing benefit and disability benefits</span>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="benefits-1" name="benefits" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="benefits-1">
                  Yes
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="benefits-2" name="benefits" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="benefits-2">
                  No
                </label>
              </div>
            </fieldset>
          </div>

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h1 class="govuk-heading-m">Have you revieved a redundancy payment in the last calender month?</h1>
                <span class="govuk-c-fieldset__hint">This includes payments for jobs that you are currently serving notice for</span>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="redundancy-1" name="redundancy" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="redundancy-1">
                  Yes
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="redundancy-2" name="redundancy" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="redundancy-2">
                  No
                </label>
              </div>
            </fieldset>
          </div>
          <input class="govuk-c-button" type="submit" value="Continue">
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
