{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 9 of 16</b></p>

    <div>
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <h1 class="govuk-heading-xl">
            What evidence we need for your submission
          </h1>

          <p class="govuk-body">placeholder text</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Employed income</li>
            <li>Childcare</li>
            <li>BIK (P11D)</li>
            <li>P60</li>
            <li>Self assessment</li>
            <li>State benefits and tax credits</li>
            <li>Private pension income</li>
            <li>Employer pension income</li>
            <li>Student grant or loan</li>
            <li>Board or rent (income)</li>
            <li>Any other income</li>
            <li>Maintainance payments</li>
            <li>Housing costs (rent)</li>
            <li>Housing benefit</li>
            <li>Mortgage payments</li>
          </ul>

        </div>

      </div>

      <a class="govuk-c-button govuk-c-button" href="/identify-evidence" role="button">Continue</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="govuk-c-back-link" href="/dwpconf">Back</a>

    </div>
</div>
</main>

{% endblock %}
