{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 8 of 16</b></p>

    <div>
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

          <h1 class="govuk-heading-xl">
            We automatically capture your means evidence
          </h1>

          <p class="govuk-body">Evidence we collect for <b>means assessment</b></p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Employed income</li>
            <li>Childcare</li>
            <li>Private pension</li>
            <li>Employer pension</li>
            <li>Board or rent</li>
            <li>Maintainance payments</li>
            <li>Housing costs</li>
          </ul>

          <hr>
          </br>

          <p class="govuk-body">Evidence we collect for <b>capital assessment</b></p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Bank savings account</li>
            <li>Bank current account</li>
            <li>Building society account</li>
            <li>ISAs</li>
          </ul>

          <p class="govuk-body"><b>We may need help with other types of evidence that we can't see from your bank statements or HMRC records.</b></p>

        </div>

      </div>

      <a class="govuk-c-button govuk-c-button" href="/empstatus" role="button">Continue</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="govuk-c-back-link" href="/dwpconf">Back</a>

    </div>
</div>
</main>

{% endblock %}