{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<script src="/public/javascripts/jquery-1.11.3.js"></script>

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-c-back-link" href="/empstatus">Back</a>

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item">

        <h1 class="govuk-heading-xl">
          Identify your incoming and outgoing evidence for submission
        </h1>

        <form class="form" action="/check-evidence" method="post">

          <div>
            <table class="govuk-c-table" style="table-layout:fixed;">
              <caption class="govuk-c-table__caption">Togetherbank Current Account<br>Account Number: 123456789</caption>
              <thead class="govuk-c-table__head">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="col" width="200">Date</th>
                  <th class="govuk-c-table__header" scope="col" width="200">Description</th>
                  <th class="govuk-c-table__header" scope="col">Incoming</th>
                  <th class="govuk-c-table__header" scope="col">Outgoing</th>
                  <th class="govuk-c-table__header" scope="col" width="90">Select as evidence</th>
                </tr>
              </thead>
              <tbody class="govuk-c-table__body">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">01 Jan 2018</th>
                  <td class="govuk-c-table__cell">Nando’s Chicken</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£12.40</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" id="name1" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">01 Jan 2018</th>
                  <td class="govuk-c-table__cell">Halifax Mortgage</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£1200.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name2" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">02 Jan 2018</th>
                  <td class="govuk-c-table__cell">Cash machine withdrawal</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£50.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name3" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">03 Jan 2018</th>
                  <td class="govuk-c-table__cell">Wiggly-tots Nursery</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£600.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name4" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">04 Jan 2018</th>
                  <td class="govuk-c-table__cell">Tesco Express</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£12.40</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name5" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">06 Jan 2018</th>
                  <td class="govuk-c-table__cell">Child Support</td>
                  <td class="govuk-c-table__cell">£250.00</td>
                  <td class="govuk-c-table__cell"></td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name6" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">06 Jan 2018</th>
                  <td class="govuk-c-table__cell">McDonalds</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£5.50</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name7" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">07 Jan 2018</th>
                  <td class="govuk-c-table__cell">Odeon Cinema</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£20.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name8" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">09 Jan 2018</th>
                  <td class="govuk-c-table__cell">KFC Chicken</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£34.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name9" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">12 Jan 2018</th>
                  <td class="govuk-c-table__cell">Payment to Dave</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£200.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name10" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">12 Jan 2018</th>
                  <td class="govuk-c-table__cell">Cash machine Withdrawal</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£120.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name11" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">14 Jan 2018</th>
                  <td class="govuk-c-table__cell">British Gas</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£1200.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name12" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">01 Jan 2018</th>
                  <td class="govuk-c-table__cell">Virgin Media</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£50.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name13" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">16 Jan 2018</th>
                  <td class="govuk-c-table__cell">BACS transfer Tyreworld</td>
                  <td class="govuk-c-table__cell">£1800.00</td>
                  <td class="govuk-c-table__cell"></td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name14" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">18 Jan 2018</th>
                  <td class="govuk-c-table__cell">Tesco Express</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£8.76</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name15" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">19 Jan 2018</th>
                  <td class="govuk-c-table__cell">Thames Water</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£50.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name16" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">21 Jan 2018</th>
                  <td class="govuk-c-table__cell">MBNA Credit payment</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£123.54</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name17" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">23 Jan 2018</th>
                  <td class="govuk-c-table__cell">Netflix</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£15.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name18" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">25 Jan 2018</th>
                  <td class="govuk-c-table__cell">Spotify</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£10.40</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name19" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header" scope="row">30 Jan 2018</th>
                  <td class="govuk-c-table__cell">Amazon purchase</td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell">£56.00</td>
                  <td style="text-align: center; vertical-align: middle;" class="govuk-c-table__cell"><input type="checkbox" name="name20" />&nbsp; </td>
                </tr>
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell" id="item">
                    <label for="type"><b>Type:</b></label>
                    <select class="govuk-c-select" name="evidence">
                    <option value="mortgage">Mortgage</option>
                    <option value="childcare">Childcare Costs</option>
                    <option value="salary">Salary/Wages</option>
                    <option value="misc-in">Miscellaneous Income</option>
                    <option value="misc-out">Miscellaneous Expenditure</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell" id="frequency">
                    <label for="frequency"><b>Frequency:</b></label>
                    <select class="govuk-c-select" name="frequency">
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                  </select>
                  </td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                  <td class="govuk-c-table__cell"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <input class="govuk-c-button" type="submit" value="Continue">

        </form>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        $("input[type=checkbox]").change(function() {

          var row = $(this).closest('tr').next();

          if (this.checked)
            row.fadeIn('fast');
          else
            row.fadeOut('fast');
        }).change();
      });
    </script>

  </main>
</div>

{% endblock %}