{% extends "layout.html" %} {% block page_title %} Evidence submission prototype  {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <a class="govuk-c-back-link" href="/means-result">Back</a>

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Mandatory evidence
        </h1>

        <p class="govuk-body">The next screen will list the evidence that will be required by the LAA based on the answers you have provided to the questions asked in the means interview. This evidence is mandatory to enable submission of this application. Please check off
          each required item.</p>
        <p class="govuk-body">You will note that on completion of the means interview that the Document Upload link will be available to you. You may either upload all requested items for sending with this application or alternatively you may wait and send these items following
          the receipt of a Document/Evidence Request task that you will receive following submission.</p>

        <div class="govuk-c-checkboxes__item">
          <input class="govuk-c-checkboxes__input" id="confirm" name="confirm" type="checkbox" required>
          <label class="govuk-c-label govuk-c-checkboxes__label" for="confirm">Please confirm that you have read and understood the above by ticking this box</label>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
