{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
      <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>

  <a class="govuk-c-back-link" href="/obexpress">Back</a>

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <form class="form" action="/obbank" method="post">

          <div class="govuk-c-checkboxes">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h1 class="govuk-heading-xl">Consent to the following requests for information</h1>
                <span class="govuk-c-fieldset__hint">If you consent, please tick the checkboxes</span>
              </legend>

              <p class="govuk-body">Blurb about safety, ease and the different sources to consent to:</p>

              <div class="govuk-heading-m">Open banking</div>
              <p class="govuk-body">What open banking is really briefly, why it’s safe and how this is better than sourcing manual evidence.</p>


              <div class="govuk-c-checkboxes__item">
                <input class="govuk-c-checkboxes__input" id="open-banking" name="open-banking" type="checkbox">

                <label class="govuk-c-label govuk-c-checkboxes__label" for="open-banking">
                  The Legal Aid Agency can access the following account information from my accounts held at my bank/building society.
                </label>

                <details>
                  <summary><span class="summary">Your account details</span></summary>
                  <div class="panel panel-border-narrow">
                    <p class="govuk-body">
                      Some text about account details.
                    </p>
                    <p class="govuk-body">
                      Some more text about account details.
                    </p>
                  </div>
                </details>
                <details>
                  <summary><span class="summary">Your transactions for the past 3 months</span></summary>
                  <div class="panel panel-border-narrow">
                    <p class="govuk-body">
                      Some text about transactions.
                    </p>
                    <p class="govuk-body">
                      Some more text about transactions.
                    </p>
                  </div>
                </details>
              </div>

              </br>
              <div class="govuk-heading-m">Other government services</div>
              <p class="govuk-body">Some text here.</p>

              <div class="govuk-c-checkboxes__item">
                <input class="govuk-c-checkboxes__input" id="other-departments" name="other-departments" type="checkbox">
                <label class="govuk-c-label govuk-c-checkboxes__label" for="other-departments">
                  The Legal Aid Agency can access the following information from other government departments
                </label>

                <details>
                  <summary><span class="summary">HMRC: Reported income and tax</span></summary>
                  <div class="panel panel-border-narrow">
                    <p class="govuk-body">
                      Some text about HMRC.
                    </p>
                    <p class="govuk-body">
                      Some more text about HMRC.
                    </p>
                  </div>
                </details>
                <details>
                  <summary><span class="summary">DWP: In receipt of passported benefits</span></summary>
                  <div class="panel panel-border-narrow">
                    <p class="govuk-body">
                      Some text about DWP.
                    </p>
                    <p class="govuk-body">
                      Some more text about DWP.
                    </p>
                  </div>
                </details>

              </div>
            </fieldset>
          </div>

          <input class="govuk-c-button" type="submit" value="Accept and Continue">

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}