{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">


        <h1 class="govuk-heading-xl">
          You are allowing the LAA access to the following:
        </h1>

          <div class="govuk-c-warning-text">
            <span class="govuk-c-warning-text__icon govuk-o-circle" aria-hidden="true">!</span>
            <strong class="govuk-c-warning-text__text">
              <span class="govuk-c-warning-text__assistive">Warning</span>
              3 months banking history
            </strong>
          </div>

          <div class="govuk-c-warning-text">
            <span class="govuk-c-warning-text__icon govuk-o-circle" aria-hidden="true">!</span>
            <strong class="govuk-c-warning-text__text">
              <span class="govuk-c-warning-text__assistive">Warning</span>
              Your personal accounts
            </strong>
          </div>

          <div class="govuk-c-warning-text">
            <span class="govuk-c-warning-text__icon govuk-o-circle" aria-hidden="true">!</span>
            <strong class="govuk-c-warning-text__text">
              <span class="govuk-c-warning-text__assistive">Warning</span>
              Other potentially bad things
            </strong>
          </div>

        <a class="govuk-c-button govuk-c-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="/dwpdetails" role="button">Confirm</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
