{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
    <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  </div>

  <a class="govuk-c-back-link" href="/initalpage">Back</a>

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <form class="form" action="/questiontwo" method="post">

          <div class="govuk-c-checkboxes">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h1 class="govuk-heading-xl">What is your nationality?</h1>
                <span class="govuk-c-fieldset__hint">If you have dual nationality, select all options that are relevant to you.</span>
              </legend>
              <div class="govuk-c-checkboxes__item">
                <input class="govuk-c-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
                <label class="govuk-c-label govuk-c-checkboxes__label" for="nationality-1">
                  British
                </label>
              </div>
              <div class="govuk-c-checkboxes__item">
                <input class="govuk-c-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
                <label class="govuk-c-label govuk-c-checkboxes__label" for="nationality-2">
                  Irish
                </label>
              </div>
              <div class="govuk-c-checkboxes__item">
                <input class="govuk-c-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
                <label class="govuk-c-label govuk-c-checkboxes__label" for="nationality-3">
                  Citizen of another country
                </label>
              </div>
            </fieldset>
          </div>

          <input class="govuk-c-button" type="submit" value="Continue">

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
