{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
      alpha
    </strong>
    <span class="govuk-c-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  </div>

  <a class="govuk-c-back-link" href="/questiontwo">Back</a>

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <form class="form" action="/questionthreetest" method="get">

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <h1 class="govuk-heading-xl">Do you own property?</h1>
                <span class="govuk-c-fieldset__hint">This includes any property located overseas.</span>
              </legend>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="changed-name-1" name="changedName" type="radio" value="yes">
                <label class="govuk-c-label govuk-c-radios__label" for="changed-name-1">
                  Yes
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="changed-name-2" name="changedName" type="radio" value="no" checked>
                <label class="govuk-c-label govuk-c-radios__label" for="changed-name-2">
                  No
                </label>
              </div>
            </fieldset>
          </div>
          <input class="govuk-c-button" type="submit" value="Continue">

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
