{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">


        <h1 class="govuk-heading-xl">
          Success page
        </h1>

        <p class="govuk-body">If you are here then you are eligibile.</p>

        <a class="govuk-c-button govuk-c-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="/introdetails" role="button">Continue</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
