{% extends "layout.html" %} {% block page_title %} Evidence submission prototype {% endblock %} {% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">
        alpha
      </strong>
      <span class="govuk-c-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">

    <p class="govuk-body"><b>Step 14 of 16</b></p>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Valuable items
        </h1>

        <p class="govuk-body">Do you own anything valuable (worth £500 or more) like:
          <ul>
            <li>jewellery</li>
            <li>antiques</li>
            <li>paintings</li>
            <li>collectable items</li>
            <li>horses or boats</li>
          </ul>
        </p>

        <form class="form" action="/means-result" method="post">

          <div class="govuk-c-radios">
            <fieldset class="govuk-c-fieldset" data-required data-error="Cannot be blank">
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="valuables-1" name="valuables" type="radio" value="yes" required>
                <label class="govuk-c-label govuk-c-radios__label" for="valuables-1">
                Yes
              </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="valuables-2" name="valuables" type="radio" value="no">
                <label class="govuk-c-label govuk-c-radios__label" for="valuables-2">
                No
              </label>
              </div>
            </fieldset>
          </div>

          <input class="govuk-c-button" type="submit" value="Continue">&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="govuk-c-back-link" href="/capital-assets">Back</a>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}